INSTRUCTIONS:

Go to File -> Save a Copy in Drive and edit this notebook in your copy

Name the copy as : Name_RollNo_AssignmentNo

Put all your doubts on Whatsapp group.

try not to use chatgpt

In [ ]:
import numpy as np

1.Create a variable temperature and assign it the value of the current temperature in your city.

> Add blockquote


Create another variable weather and assign it a string describing the weather (e.g., "sunny", "rainy", "cloudy").

In [ ]:
Temp=50
Weather="Sunny"

2.mixed_data_types = [1, 2.5, "hello", True, [1, 2, 3]]

   Check the data type of each element in the list.

In [ ]:
mixed_data_types = [1, 2.5, "hello", True, [1, 2, 3]]
for element in mixed_data_types:
    print("Data Type of ",element , "is : ",type(element))

Data Type of  1 is :  <class 'int'>
Data Type of  2.5 is :  <class 'float'>
Data Type of  hello is :  <class 'str'>
Data Type of  True is :  <class 'bool'>
Data Type of  [1, 2, 3] is :  <class 'list'>

3.Calculate the area of a circle with radius r = 5.

Calculate the square root of a number of your choice.

In [ ]:
r=5
area=3.14*r**2
print(area)

78.5

In [ ]:
n=100
square_root=np.sqrt(n)
print(square_root)

10.0

4.Create a string containing the following lyrics

It was the best of times,
it was the worst of times,
it was the age of wisdom,
it was the age of foolishness,
it was the epoch of belief,
it was the epoch of incredulity,
it was the season of Light,
it was the season of Darkness,
it was the spring of hope,
it was the winter of despair,

Count the number of occurrences of the word "the" and "epoch" in the string.

In [ ]:
str="It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair."
the_count=str.count("the")
epoch_count=str.count("epoch")
print("No of \"the\" is: ",the_count)
print("No of \"epoch\" is: ",epoch_count)

No of "the" is:  10
No of "epoch" is:  2

5.Implement a boolean logic puzzle where the user needs to answer whether a given number is divisible by both 2 and 3. Fill in the Blanks

In [ ]:
# Get the number from the user
number = int(input("Enter a number: "))

# Check if the number is divisible by both 2 and 3
is_divisible_by_2_and_3 = (number % 2 == 0) and (number % 3 == 0)

# Print the result
if is_divisible_by_2_and_3:
    print(f"{number} is divisible by both 2 and 3.")
else:
    print(f"{number} is not divisible by both 2 and 3.")

Enter a number: 5
5 is not divisible by both 2 and 3.

6.Check if the result of (10 - 5) is greater than or equal to (7 * 2).

In [ ]:
print(
   (10-5) >= (7*2)
)

False

7.Implement a function to find the intersection of the lists [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8].Fill in the Blanks

In [ ]:
def find_intersection(list1, list2):
    intersection=[]
    for i in list1:
        for j in list2:
            if i == j:
                intersection.append(i)
    return intersection
    # Test the function with the given lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

print("Intersection:", find_intersection(list1, list2))

Intersection: [4, 5]

8.Implement a grading system based on student scores where scores above 60 are considered pass and below are fail. Test the function with scores given

scores = [75, 45, 80, 30, 65]

In [ ]:
scores=[75, 45, 80, 30, 65]
for i in scores:
  if i>60:
    print("Pass")
  else:
    print("Fail")

Pass
Fail
Pass
Fail
Pass

9.Implement a countdown timer from 10 to 1 using a while loop.

In [ ]:
count=10
while count>0:
  print(count)
  count=count-1

10
9
8
7
6
5
4
3
2
1

10.Make a function that sums the list mylist = [1,2,3,4,5]

Can functions be called inside a function?

Can a function call itself?

Can variables defined in a function be used in another function?

print the answers of theoretical questions and mention the concept.

In [ ]:
mylist = [1,2,3,4,5]
def sum_list(mylist):
  sum=0
  for i in mylist:
    sum=sum+i
  return sum
print(sum_list(mylist))

15

Yes, Functions can be called inside functions.
Yes, Functions can call itself.
No, variables defined in a function can be used in that function only. Exceptions can be made using Global scope.